<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
  <style>
    /* Chat message container */
    .chat-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  
    /* User message */
    .user-message {
      background-color: #d3d3d3;
      color: #000;
      border-radius: 10px;
      padding: 10px;
      max-width: 70%;
      align-self: flex-end;
      margin-bottom: 5px;
    }
  
    /* AI message */
    .ai-message {
      background-color: #3498db;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      max-width: 70%;
      align-self: flex-start;
      margin-bottom: 5px;
    }
  </style>
  
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              

            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          

          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
              class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Notifications
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread"> <span
                    class="dropdown-item-icon bg-primary text-white"> <i class="fas
												fa-code"></i>
                  </span> <span class="dropdown-item-desc"> Working on this ! <span class="time">2 Min
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="far
												fa-user"></i>
                  </span> <span class="dropdown-item-desc">Working on this ! <span class="time">10 Hours
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                      class="fas
												fa-check"></i>
                  </span> <span class="dropdown-item-desc"> Working on this !<span class="time">12
                      Hours
                      Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-danger text-white"> <i
                      class="fas fa-exclamation-triangle"></i>
                  </span> <span class="dropdown-item-desc"> Working on this ! <span class="time">17 Hours Ago</span>
                  </span>
                </a> <a href="#" class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Working on this !<span class="time">Yesterday</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Blessed <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title"><%= user.userName %></div>
              <a href="profile.html" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
              </a> <a href="timeline.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Activities
              </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>


      <!-------------------------------------- chat box ---------------------------------------->


      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar " style="position: fixed; bottom: 0;">
 <form class="" id="submitMessageFrom" style="width: 100%; padding: 1%; display: flex; justify-content: center;
 align-items: center; margin-left: 15%; margin-right: 15%; margin-bottom: 1%; background-color: #f0f3ff; border-radius: 10px;">     

<input type="text" name="userPrompt" id="userPrompt" placeholder="Message Mist AI..." style="width: 100%; padding: 1%; background-color: transparent;
border: none; outline: none; font-size: larger;">

<button type="submit" style="border: none; outline: none; background-color: transparent;"><i class="fa-solid fa-paper-plane" style="font-size: 25px;"></i>

</form></button>  
        
        
      
      </nav>



    


      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/"> <img alt="image" src="assets/img/logo.png" class="header-logo" /> <span
                class="logo-name"> MIST AI</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">HELLO</li>
            <% chats.forEach((chat,index )=> { %>
              
              <% chat.messages.forEach(msg => { %>
                
               
            
       <li class="dropdown active" style="padding-top: 4%;" data-prompt="<%= msg.prompt %>" data-message="<%= msg.message %>">
          <a onclick="chatHistory(this)" class="nav-link"><i data-feather="monitor"></i><span>Chat <%= index + 1 %></span></a>
       </li>

            <% }) %>
            <% }) %>
        </aside>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script>
        function chatHistory(element){
          const prompt = element.parentElement.getAttribute('data-prompt');
          const message = element.parentElement.getAttribute('data-message');
          console.log(message)
          console.log(prompt)
          Swal.fire({
          title: prompt,
          text: message,
          icon: 'info', // You can change this to 'success', 'error', 'warning', etc.
          confirmButtonText: 'OK'
    });
        }
      </script>


      <!-- Main Content -->

      <section class="section1" style="display: none;">
        <div class="spinner-wrapper" style="height: 70vh; display: flex; 
            align-items: center; justify-content: center;">
              <img src="/assets/img/loading.gif" alt="">
            </div>
      </section>

      <div class="main-content">
        <section class="section">
        

          
           
            






        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>



  <!-- General JS Scripts -->
  <script src="assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="assets/js/custom.js"></script>

  <script>
    document.getElementById('submitMessageFrom').addEventListener('submit',async(event)=> {
      event.preventDefault()

        // Display spinner
       const selectionDiv = document.querySelector('.section')
       const section1 = document.querySelector('.section1')
       section1.style.display = 'block'
       selectionDiv.style.display = 'none'
         
      const userPrompt = document.getElementById('userPrompt').value
       try {
        console.log('reached near the response')
        console.log(userPrompt)
       const response = await fetch('/sendPrompt',{
           method:'POST',
           headers:{
            'Content-Type' : 'application/json'
           },
           body:JSON.stringify({
             data:userPrompt
           })
         })

         if(!response){
          throw new Error ('No response found')
         }

         console.log('Reached no response')
        
         const responseData = await response.json()
         console.log(response)

         
           setTimeout(() => {
             section1.style.display = 'none'
             selectionDiv.style.display = 'block'
           }, 2650)

         

        //USER PROMPT
         const userPromptContainer = document.createElement('div')
         userPromptContainer.classList.add('chat-container')

         const userPromptDiv = document.createElement('div')
         userPromptDiv.classList.add('user-message')
         userPromptDiv.textContent = "You: " + userPrompt
         
         userPromptContainer.appendChild(userPromptDiv)
         selectionDiv.appendChild(userPromptContainer)


        //CHATGPT PROMPT
        const responseContainer = document.createElement('div');
        responseContainer.classList.add('chat-container');

        const responseDiv = document.createElement('div')
        responseDiv.classList.add('ai-message')
        responseDiv.textContent = "Mist AI " + responseData.data

        responseContainer.appendChild(responseDiv)
        selectionDiv.appendChild(responseContainer)

       } catch (error) {
        console.log(error)
       }
    })
  </script>

</body>



<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>